<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coors.ibikego">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBVGGjAg1SI6r9r60fygL-uDh87eX2kdlA" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".blog.BlogInsertActivity" />
        <activity android:name=".blog.BlogDetailActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".blog.BlogUpdateActivity" />
        <activity android:name=".member.MemberLoginActivity" />
        <activity android:name=".member.MemberSignUpActivity" />
        <activity android:name=".member.MemberLostPwActivity" />
        <activity android:name=".search.SearchBlogActivity" />
        <activity android:name=".member.MemberBlogManageActivity" />
        <activity android:name=".blog.BlogDetailMemberActivity" />
        <activity android:name=".bikemode.BikeModeMainActivity" />
        <activity android:name=".bikemode.GeocoderActivity" />
        <activity android:name=".bikemode.BikeTrackPolylinesActivity" />
        <activity android:name=".bikemode.BikeTrackActivity" />
        <activity android:name=".bikemode.BikeTrackListActivity" />
        <activity android:name=".bikemode.BikeGroupKeyActivity" />
        <activity android:name=".bikemode.BikeGroupRoomActivity" />
        <activity android:name=".travel.AttractionsDetailActivity" />
        <activity android:name=".travel.TravelShowMapActivity" />
        <activity android:name=".search.SearchAttractionsActivity" />
        <activity android:name=".search.SearchBreakActivity"></activity>
    </application>

</manifest>